# Lesson - 1

In [3]:
x = [1, 2, 3, 4]
x

[1, 2, 3, 4]

Text: this is a just a test thats all

In [19]:
x = 400
x

400

In [21]:
3/16

0.1875

In [23]:
16/3

5.333333333333333

In [1]:
x = [6]
y = [5]
y + x

[5, 6]

# lesson 2

In [2]:
x,y = (3,4)

In [3]:
x

3

In [4]:
y

4

In [5]:
x + y

7

In [6]:
y + x

7

In [7]:
y - x

1

In [8]:
x - y

-1

In [9]:
x * y

12

In [10]:
x / y

0.75

In [13]:
x1 = 3

In [14]:
type(x1)

int

In [15]:
x2 = 3.1

In [16]:
type(x2)

float

In [17]:
type(4)

int

In [18]:
type(4.2)

float

In [19]:
int(x2)

3

In [20]:
float(x1)

3.0

In [21]:
int(x2)

3

In [22]:
float(x2)

3.1

In [23]:
y1,y2 = (4,5.6)

In [24]:
type(y1)

int

In [25]:
type(y1,y2)

TypeError: type() takes 1 or 3 arguments

In [29]:
type(y2)

float

In [30]:
int(y1,y2)

TypeError: 'float' object cannot be interpreted as an integer

In [31]:
int(y1)

4

In [32]:
int(y2)

5

In [33]:
float(y1)

4.0

In [34]:
float(y2)

5.6

In [35]:
type(y2)

float

In [36]:
z = True

In [37]:
type(z)

bool

In [38]:
z1 = False

In [39]:
type(z1)

bool

In [42]:
# Lesson 3

# Lesson 3 - Python Strings

In [43]:
Anonto

NameError: name 'Anonto' is not defined

In [44]:
'Anonto'

'Anonto'

In [45]:
print('anonto')

anonto

In [46]:
print("anonto")

anonto

In [47]:
"anonto"

'anonto'

In [48]:
print('10' + 'dollars')

10dollars

In [49]:
10 dollars

SyntaxError: invalid syntax (<ipython-input-49-8c734db00aa4>, line 1)

In [50]:
'10' 'dollars'

'10dollars'

In [52]:
'10 ' + 'Dollar'

'10 Dollar'

In [58]:
x = 10
print (str(x) + " Dollar")

10 Dollar

In [60]:
y = 6
print (str(y) + " Miles")

6 Miles

In [61]:
z = 8.6
print (str(y) + ' Kilo')

6 Kilo

In [65]:
z = 9
(str(z) + ' ound')

'9 ound'

## Practice

In [1]:
x,y = (35,45)

In [2]:
print(x)

35

In [3]:
print(x+y)

80

In [4]:
print(x-y)

-10

In [12]:
int(x)

35

In [13]:
print(int(y))

45

In [14]:
print("anonto")

anonto

In [15]:
print(anonto)

NameError: name 'anonto' is not defined

In [17]:
x = False
y = True

In [18]:
print(x)

False

In [19]:
Print(x+y)

NameError: name 'Print' is not defined

In [20]:
x + y

1

In [21]:
x

False

In [22]:
str(tupo)

NameError: name 'tupo' is not defined

In [26]:
print(str(10) + " Dollar")

10 Dollar

In [25]:
x = 69
print(str(x) + " dollar")

69 dollar

In [33]:
y = "Moure"
print(str(y) + " I Love You")

Moure I Love You

In [42]:
x = "Anonto"
y = "Moure"
type(str(x) + " Love")

str

In [52]:
y = "Anonto"
z = "Moure"
print(str(x) + " Love", z)

Anonto Love Moure

In [54]:
y1 = "M"
y2 = "A"
print(str(y1) + " &", y2)

M & A

In [58]:
x1 = "Anonto"
x2 = "Moure"
print(str(x1) + " has to give", (x2) + " 200K$")

Anonto has to give Moure 200K$

In [59]:
print(x1,x2)

Anonto Moure

In [60]:
type(x1)

str

In [61]:
type(x1,x2)

TypeError: type() takes 1 or 3 arguments

In [62]:
type(x1), type(x2)

(str, str)

In [69]:
x = 100
y = 69
print(str("anonto you need to give me"), str(x-y) + "$")

anonto you need to give me 31$

In [74]:
h = 60
m = 60
s = 60
print(str("I have wasted on this idiotic movie"), str(h*m*s) + "Seconds")

I have wasted on this idiotic movie 216000Seconds

In [112]:
aite = 39
jaite = 45
print(str("amar aste jaite total khoroch hoi"), str(aite + jaite) + ("BDT"))

amar aste jaite total khoroch hoi 84BDT

In [4]:
l = 45.46868
a = 69.43890
d = 121
f = 4
L = 50
print(str("If I start traveling now, my fuel can get me"), (f*L), "KM", "& my pickup point will be -", (l,a), 
      "So I hope I'll meet you there. after crossing", (d), "KM")

If I start traveling now, my fuel can get me 200 KM & my pickup point will be - (45.46868, 69.4389) So I hope I'll meet you there. after crossing 121 KM

In [5]:
4 > 5

False

In [6]:
4 < 5

True

In [7]:
4 == 5

False

In [8]:
4 == 5-1

True

In [9]:
4 != 5

True

In [10]:
5 != 7-8

True

In [12]:
6 == 8-2

True

In [15]:
"Anonto" [3]

'n'

In [77]:
"I TOLD YOU I AM NOT GOING THERE" 
print([2], [6])

[2] [6]

### Practice

In [4]:
x = 350
y = 400
z = 200
t = 1900
(x + y + z -t) + 1900

950

In [7]:
x = 3
print(x**2)

9

if I want wrint Moure & Anonto in one line using plus sign, how I am gonna do that?

In [74]:
print ("M" + " A")

M A

Using coma

In [75]:
print ("M", "A")

M A

#### if i wanna write Ms. M has 20 Dollar using plus and x and coma?

In [76]:
x = 20
print ("Ms. M has " + str(x), 'Dollar')

Ms. M has 20 Dollar

### I have, One 2 Liter Water Bottle, Three 250gm Biscuit Packet, Five 0.5gm Cigarette, One Half kilo Murgi. How Much Weight I am Carrying?

In [42]:
#desired unit = gm, ml, m
#suppose,
w = (2 * 1000)
b = (3 * 250)
c = (5 * 0.5)
m = (.5 * 1000)

print (str ('Dear sir, you are carrying approx'), (w + b + c + m), 'grams')

Dear sir, you are carrying approx 3252.5 grams

#### Mr. Murgi Baboshaye want to go "Khulna" by car. He has 11 Liter of fuel in the tank. with one liter of fuel his car can drive upto 10km. The Distance between Dhaka to Khulna is 221k.
#### How far he can go with this fuel? and Do He need more Fuel?

In [66]:
#suppose, fuel
l = 11
#with 1 liter car can drive,
d = 10
#total distance, km
t = 221
print ("with the preserve fuel Mr. Murgi Baboshaye might drive approx " + str(l * d) + 'km. ')

with the preserve fuel Mr. Murgi Baboshaye might drive approx 110km.

In [69]:
print ("left distance " + str(t - 110) + 'km')

left distance 111km

In [73]:
#left distance,
d1 = 111
#with 1 liter fuel it can go 10km
f = 10
print ("So, Mr. Murgi Baboshaye need more ", str (d1 / f), 'Liter Fuel to complete his destination.' )

So, Mr. Murgi Baboshaye need more  11.1 Liter Fuel to complete his destination.

### Practice

In [1]:
20 == 10 * 2

True

In [2]:
20 == 40 - 20

True

In [3]:
20 > 30

False

In [4]:
20 < 30

True

In [5]:
plus and plus

NameError: name 'plus' is not defined

In [6]:
+ and +

SyntaxError: invalid syntax (<ipython-input-6-a51847a9a385>, line 1)

In [10]:
#(+ +) = +
True and True

True

In [11]:
#(+ -) = -
True and False

False

In [13]:
#(- +) = -
False and True

False

In [15]:
#(- -) = -
False and False

False

In [16]:
True or True

True

In [17]:
True or False

True

In [18]:
False or False

False

In [19]:
False or True

True

In [20]:
not True

False

In [21]:
not False

True

In [22]:
2 <= 3

True

In [23]:
2 <= 1

False

In [24]:
4 >= 3

True

In [27]:
10 >= 20 and 20 != 10

False

In [28]:
10 >= 20

False

In [29]:
20 != 10

True

In [30]:
#False False True = True
False and not True or True

True

In [31]:
#False True False = true
False or True and not False

True

In [33]:
#True False True = True
not False and False or True

True

In [34]:
#True False True = True
not False or not True or not False

True

In [37]:
#10 == 20/2(true), 20 <= 21(true), 20 != 5(true) = True
not 10 == 20/2 and not 20 <= 21 and 20 != 5
#False and False and True

False

In [39]:
x1 = 20
x2 = 10
y1 = 5
y2 = 9
print (x1 == x2 * 2 and not y1 <= y2)
#true and not true(false) = False

False

In [40]:
x1 = 20
x2 = 10
y1 = 5
y2 = 9
z1 = 500
z2 = 250
print (not x1 != x2 or y2 >= y1 and z1 == z2 * 2)

#not true or true and true = True

True

In [1]:
if 5 == 6:
    print ("True")

In [3]:
if 5 != 6:
    print ("True")

True

In [4]:
if True != False:
    print ("got it boss")

got it boss

In [8]:
if False and False != False or False:
    print ("Wow!")

In [6]:
False or False

False

In [7]:
False and False

False

In [10]:
if (False and False) == False:
    print ("ok")

ok

In [11]:
if (not False or False) == (True and not False):
    print ("Hell Yah")

Hell Yah

In [8]:
x1 = 5
x2 = 6
y1 = 7
y2 = 8
z1 = 9
z2 = 10
if ((z2 / 2 == x1) and not (z1 == y2 - y1)) == ((x1 * 2 == z2) or (x2 <= x1)):
    print ("You Got it Boss")
#True and not True == True or False

You Got it Boss

In [33]:
x1 = 3
x2 = 81
y1 = 50
y2 = 400
z1 = 18.5
z2 = 74
w1 = 69
w2 = 96
if (not (math.sqrt(x2) == x1 *  3) and (y1 == ((y2 / 2) - (50 * 2 + 50)))) \
    != (w2 != w1) or not ((z1 * 2) * 2):
    #not True and True == False or not True 
        print ("Wow! Boss agian?")

Wow! Boss agian?

In [34]:
False or not True

False

In [26]:
37 * 2

74

In [24]:
12 * 2

24

In [16]:
print (math.sqrt(81))

9.0

In [40]:
if (True or not True) == (not False and True):
    print ("All Ok")

All Ok

In [41]:
print (math.sqrt(64))

8.0

In [42]:
int (8)

8

In [43]:
float (8)

8.0

In [44]:
print (int (math.sqrt(9)))

3

In [45]:
print (int (35 / 2))

17

In [46]:
35 / 2

17.5

In [47]:
int (17.8)

17

In [48]:
int (17.90)

17

In [49]:
int (17.99)

17

In [50]:
if 5 * 2 == 10:
    print ("done")

done

In [51]:
if 8 / 2 != 5:
    print (5)

5

In [53]:
if 27 != 9 *2:
    print ("try 9 * 3")

try 9 * 3

In [58]:
"wanna_cry" [5]

'_'

In [59]:
x1 = True
x2 = False
if x1 != False:
    print ("it is gonna work")

it is gonna work

In [61]:
x1 and x2

False

In [63]:
x = True #"Moure love kore na"
"Ami Love kori" = False
"amader ek haoa possible na" = True
"Allah amader ek haoa kopale rakhe nai" = True
if ("Moure love kore na" or "Allah amader ek haoa kopale rakhe nai") == \
    ("Ami love kori" and not "amader ek haoa possible na"):
    print ("positive")

SyntaxError: cannot assign to literal (<ipython-input-63-69572178bc2d>, line 1)

In [92]:
'Moure love kore na' = (x1)
print ("Moure love kore na")

SyntaxError: cannot assign to literal (<ipython-input-92-2a33e7a21a9f>, line 1)

In [94]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)
        This would create first object of Employee class
emp1 = Employee("Zara", 2000)
This would create second object of Employee class
emp2 = Employee("Manni", 5000)

IndentationError: unexpected indent (<ipython-input-94-37c5fcc6f016>, line 15)

In [95]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)

In [97]:
#This would create first object of Employee class
emp1 = Employee("Zara", 2000)
#This would create second object of Employee class
emp2 = Employee("Manni", 5000)

In [107]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

In [114]:
list = ['Jamal' , 'kamal', 'salam', 'damal']

del list[2]
print (list)

['Jamal', 'kamal', 'damal']

In [121]:

var = ["Python Programming"]

del var[1]
print (var)

IndexError: list assignment index out of range

In [124]:
x = 'Hello World!'
del (x[2])

TypeError: 'str' object doesn't support item deletion

In [148]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
del list[2:4]
print (list)
len(list)
max (list)

[1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

16

In [126]:
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [151]:
list = ['i', 'm', 'i', 's', 's'] + ['y', 'o', 'u', 'z']
print (list)
list(seq)

['i', 'm', 'i', 's', 's', 'y', 'o', 'u', 'z']

NameError: name 'seq' is not defined

In [152]:
x = ['oi, ' * 4]
print (x)

['oi, oi, oi, oi, ']

In [161]:
#!/usr/bin/python3

aTuple = (123, 'C++', 'Java', 'Python')
list1 = list(aTuple)
print ("List elements : ", list1)

seq = "Hello World"

list2 = list(seq)
print ("List elements : ", list2)

TypeError: 'str' object is not callable

In [164]:
str = "oi suncho"

list1 = list (str)
print (list1)

TypeError: 'str' object is not callable

In [1]:
list = ['ami', 'tomake', 'valobashi', 'na']
print (list)

['ami', 'tomake', 'valobashi', 'na']

In [2]:
del list[1]
print (list)

['ami', 'valobashi', 'na']

In [3]:
True or False and not False

True

In [4]:
not True or False and not True

False

In [5]:
3 == 0

False

In [6]:
if 3 != 0:
    print ("true")

true

In [3]:
if True is not True == False or not True:
    print ("I'm on"):
        else print ("hor")

SyntaxError: invalid syntax (<ipython-input-3-7ec374420163>, line 2)

In [5]:
x = 20
if x != 40:
    print ("alpha")
if x >= 10:
    print("delta")

alpha
delta

In [6]:
x = 30
if x <= 20:
    print ("code 1")
if x >= 20:
    print ("code 2")

code 2

In [13]:
x = True
y = False
if x and not y == True:
    print ('part 1')
if x and not y != True:
    print ('part 2')

part 1

In [14]:
x = True
y = False
if x and not y == True:
    print ('part 1')
else:
    print ('part 2')

part 1

In [3]:
x = 6
y = 9
if x + y == 69:
    print ('Wow! Boss, you got it')
else :
    print ("halar po math jibone koros nai?")

halar po math jibone koros nai?

In [10]:
x = 500
y = 250
if x + y != 1000:
    print ("it is True")
if x + y == 750:
    print ("it is also True")
if x - y <= 1000:
    print ('so it is')

it is True
it is also True
so it is

In [15]:
x = 6
y = 9
if x + y == 69:
    print ('block-1 G2G')
else:
    print ('error in b-1')
if x - y != 69:
    print ('block-2 G2G')
else:
    print ('error in B-2')
if y * x <= 69:
    print ('block-3 G2G')
else:
    print ('error in B-3')
if y == (69 - 27) / x + 3:
    print ('block-4 G2G')
else:
    print ('error in B-4')

error in b-1
block-2 G2G
block-3 G2G
error in B-4

In [16]:
if True and not True == True:
    print ('ans is True')
else:
    print ('ans is False')

ans is False

In [17]:
if True and not False or False != True:
    print ('ans is True')
else:
    print ('ans is False')

ans is True

In [18]:
True and not False or False != True

True

In [32]:
if (not False or not True or True) == (False or True and not True):
    print ('positive')
else:
    print ('negative')

negative

In [36]:
x = (False or True and not True)
y = (not False or not True or True)
print (x)
print (y)

False
True

In [42]:
if (not x or y and x) != (x and y or not x):
    #true == true
    print ('Positive, sir')
else:
    print ('Negative, sir')

Negative, sir

In [39]:
(not x or y and x)

True

In [41]:
(x and y or not x)

True

In [45]:
- 3 >= 5

False

In [16]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [4]:
print (compare_to_five(6))

Greater

In [5]:
print (compare_to_five(50/25))

Less

In [7]:
print (compare_to_five(-3))

Less

In [18]:
print (compare_to_five(-3))

Negative

In [17]:
print (compare_to_five(2))

Less

In [19]:
print (compare_to_five(9))

Greater

In [29]:
def compare_to_sixtynine(y):
    if y > 69:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y <69:
        return "Less"
    else:
        return "equals"

In [21]:
print (compare_to_sixtynine(70))

Greater

In [23]:
print (compare_to_sixtynine(45))

Less

In [25]:
print (compare_to_sixtynine(-69))

Negative

In [26]:
print (compare_to_sixtynine(1))

Less

In [28]:
print (compare_to_sixtynine(69))

equals

In [45]:
def compare_to_thirtyfive(x):
    if x < 0:
        return "Negative"
    elif x < 35:
        return "Less"
    elif x > 35:
        return "Greater"
    else:
        return "Equals"

In [31]:
print (compare_to_thirtyfive(32))

Less

In [33]:
print (compare_to_thirtyfive(400))

Greater

In [40]:
print (compare_to_thirtyfive(-35))

Negative

In [41]:
print (compare_to_thirtyfive(22))

Less

In [42]:
print (compare_to_thirtyfive(-400))

Negative

In [43]:
print (compare_to_thirtyfive(35))

None

In [46]:
print (compare_to_thirtyfive(35))

Equals

In [47]:
print (compare_to_thirtyfive(-29.34))

Negative

In [48]:
print (compare_to_thirtyfive(4000000.59538))

Greater

In [50]:
print (compare_to_thirtyfive(35.00))

Equals

In [51]:
print (compare_to_thirtyfive(32.549))

Less

In [59]:
def compare_to_60(x):
    if x > 60:
        return "Greater"
    elif x < 0:
        return "Negative"
    elif x < 60:
        return "Less"
    else:
        return "Equals"

In [53]:
print (compare_to_60(67))

Greater

In [55]:
print (compare_to_60(-3))

Negative

In [58]:
print (compare_to_60(35))

Less

In [60]:
print (compare_to_60(60))

Equals

In [70]:
def compare_to_5(h):
    if h < 5:
        return "Shor tui onek khato"
    elif h > 5:
        return "Bapre, tui eto lomba?"
    else:
        return "tui amar soman"

In [63]:
print (compare_to_5(4.9))

Shor tui onek khato

In [64]:
print (compare_to_5(5.4))

Bapre, tui eto lomba?

In [66]:
print (compare_to_5(5.00))

tui amar soman

In [71]:
compare_to_5(4.8)

'Shor tui onek khato'

In [72]:
def plus_10(x):
    return x + 10

In [68]:
print (plus_10(4))

14

In [69]:
plus_10(5)

15

In [73]:
def addition_60(y):
    return y + 60

In [74]:
addition_60(9)

69

In [76]:
def minus_thirty(x):
    return x - 30

In [77]:
minus_thirty(32)

2

In [86]:
def addition_twelve(x):
    return x + 12
def subtruction_twelve(y):
    return y - 12
def division_twelve(z):
    return z / 12
def multiplication_twelve(m):
    return m * 12

In [87]:
division_twelve(72)

6.0

In [88]:
multiplication_twelve(6)

72

In [90]:
def multiply_six(x):
    return x + 7

In [91]:
multiply_six(1)

8

In [2]:
def salary_as_executive(x):
    return 15000 * x
def salary_as_care_agent(y):
    return 10000 * y
def salary_as_officer(z):
    return 40000 * z

In [30]:
print (str("i've worked 10 month on a super shop as a executive. i could have had a saving of"),\
       (salary_as_executive(10)))

i've worked 10 month on a super shop as a executive. i could have had a saving of 150000

In [32]:
print (str('after that i\'ve got a job in customer care and i\'ve worked there may be at\
least of 5 month, i guess. if i\'ve save that salary. I might had'), salary_as_care_agent(5))

after that i've got a job in customer care and i've worked there may be atleast of 5 month, i guess. if i've save that salary. I might had 50000

In [74]:
print (str('after working as a care agent i\'ve got a job at "Brac Bank" as a officer. \
while quiting that job my saving would have'), salary_as_officer(14))

after working as a care agent i've got a job at "Brac Bank" as a officer. while quiting that job my saving would have 560000

In [69]:
def salary_as_executive(x):
    return 15000 * x
def salary_as_care_agent(y):
    return 10000 * y
def salary_as_officer(z):
    return 40000 * z

In [73]:
print ('There are Six Executive, Ten Customer Care Agent, and Three Officer. Working for me')
print ('How Much do I have to withdraw from the bank for last months salary?')
print ('- For the post of executive',salary_as_executive(6))
print ('- For the post of Care Agents', salary_as_care_agent(10))
print ('- For the post of Officers', salary_as_officer(3))
print ('So, I need Total', salary_as_executive(6) + salary_as_care_agent(10) +\
       salary_as_officer(3),"Dollars")

There are Six Executive, Ten Customer Care Agent, and Three Officer. Working for me
How Much do I have to withdraw from the bank for last months salary?
- For the post of executive 90000
- For the post of Care Agents 100000
- For the post of Officers 120000
So, I need Total 310000 Dollars

In [75]:
max(5,10,15,21.3)

21.3

In [ ]:
a = 1, b = 2, c = 3, d = 4, e = 5, f = 6, g = 7, h = 8, i = 9, j = 10, k = 11, l = 12, \
    m = 13, n = 14, o = 15, p = 16, q = 17, r = 18, s = 19, t = 20, u = 21, v = 22, w = 23, \
    x = 24, y = 25, z = 26